{% extends "seguros/layout.html" %}

{%block css%}<link href="../../static/seguros/login.css" rel="stylesheet">{%endblock%}
{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <div class="text-center">
    
        <div class="form-signin w-100 m-auto">
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Username">
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
        
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button value="login" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted"> Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
          </form>
        </div>
    
        
        
            
    <div>
   

{% endblock %}